/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

body {
  background-color: #172b4c;
  color: #fff;
}

.headingTag {
  text-align: center;
  font-size: 50px;
}

.label-with-input {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.label-with-input input {
  width: 10em;
  font-size: 30px;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
}

.input-section {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.button-container {
  width: fit-content;
  margin: auto;
}

.button-container button {
  background-color: #3f51b5;
  border: none;
  color: #fff;
  padding: 1em 5em;
  border-radius: 2em;
  cursor: pointer;
  margin-top: 5em;
}

.button-container button:hover {
  filter: brightness(150%);
}

.chart-div {
  width: 60em;
}

.charts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 7em;
}


.charts span {
  display: flex;
  justify-content: space-between;
  column-gap: 4em;
  flex-wrap: wrap;
  margin: 0 2em;
  row-gap: 2em;
}

.chart-label {
  display: flex;
}

.chart-label::before {
  content: "";
  background-color: var(--color);
  width: 3em;
  margin-right: 1em;
}

.instructions {
  position: absolute;
  width: 99%;
  background-color: #fff;
  color: black;
  text-align: center;
}

.instructions ul {
  list-style: none;
  font-size: 1.5em;
}

.instructions p {
  width: 70%;
  margin: auto;
  font-size: 1.5em;
}

.instructions button {
  margin: 2em;
  font-size: 1em;
  padding: 1em 3em;
  background-color: #3f51b5;
  border: none;
  color: #fff;
  border-radius: 2em;
  cursor: pointer;  
}

#showBmi {
  width: fit-content;
  margin: auto;
  text-align: center;
}

@media (max-width: 1000px) {
  .chart-div {
    width: 40em;
  }
}

@media (max-width: 800px) {
  .input-section {
    flex-direction: column;
    align-items: center ;
    row-gap: 3em;
  }

  .chart-div {
    width: 30em;
  }

  .charts span {
    column-gap: 2em;
  }
}

@media (max-width: 600px){
  .chart-div {
    width: 20em;
  }
}